.tabs input[type=radio] {
    
}
 
.tabs {
    width: 100%;
    float: none;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 15px auto;
}
 
.tabs li{
    float: left;
}
 
.tabs label {
    display: block;
    padding: 10px 20px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: normal;
    background: #2c3e50;
    cursor: pointer;
    position: relative;
}

.tabs label:hover {
    background: #3498db;
}
 
.tab-content {
    z-index: 2;
    
    left: 0;
    width: 100%;
    
    
    padding: 15px;
    
    box-sizing: border-box;
    border:1px solid #ccc;
    
    background-color:#ffffff;
}


[id^=tab]:checked + label {
    background: #08C;
    color: white;
    top: 0;
}
 
[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}



.alertpane {
	background-color:red!important;
	color:#fff!important;
}